<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a4de9530-bb4d-4ad7-a12f-5462384e9b1d/resourceGroups/eshopemobile/providers/Microsoft.Web/sites/eshopemobile</ResourceId>
    <ResourceGroup>eshopemobile</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eshopemobile.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eshopemobile.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eshopemobile</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$eshopemobile</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EShope_TableConnectionString" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:eshopeserver.database.windows.net,1433;Initial Catalog=eshopedb;User ID=eshopeadmin;Password=P@ssw0rd" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EShope.API.Models.EShopeMobileServiceContext, EShope.API" MigrationConfiguration="EShope.API.Migrations.Configuration, EShope.API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EShope_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:eshopeserver.database.windows.net,1433;Initial Catalog=eshopedb;User ID=eshopeadmin;Password=P@ssw0rd</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:eshopeserver.database.windows.net,1433;Initial Catalog=eshopedb;User ID=eshopeadmin;Password=P@ssw0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>